.loginForm{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: rgba(0,47,52,0.03);
    width: 30%;
    border-radius: 10px;
    @media (max-width:1000px) {
        width: 80%;
    }
}

.loginForm input{
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid black;
    margin-bottom: 15px;
}

.loginForm h2{
    margin-bottom: 15px;
}

.loginForm button{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 0;
}

.toggleLink{
    margin-top: 10px;
    cursor: pointer;
}